<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        let myfunction = function (text) {
            let newstring = '';
            for (const char of text) {
                newstring += char === 'a' ? '' : char;
            }
            return newstring;
        };

        let anuj = myfunction("shantanu")
        console.log(anuj);
    </script>
</body>

</html>