Molding production:
===================

Add:
1) Date should be on top and then shift 																			- Done
2) Customer name and then machine mold fileds - Based on customer part selection machine mold should be filtered
3) Label change : Machine Mold, add place holder instead of field lable like A/B/C									- Done
4) Machine field is independent - no changes																		- No change
5) Finish part then runner weight (float) - required																- Done
6) Remark is optional																								- Done

Downtime and downtime reason could be multiple so we need to get those fit into this workflow.
Need some design to check on what can be done here.

Change header - from Machine to Material																			- Done
Machine request - placeholder as select ???


$route['p_q_molding_production'] = 'P_Molding/p_q_molding_production';
$route['view_p_q_molding_production'] = 'P_Molding/view_p_q_molding_production';
$route['add_production_qty_molding_production'] = 'P_Molding/add_production_qty_molding_production';
$route['update_p_q_onhold_molding'] = 'P_Molding/update_p_q_onhold_molding';
$route['update_p_q_molding_production'] = 'P_Molding/update_p_q_molding_production';
$route['add_mold_maintenance'] = 'P_Molding/add_mold_maintenance';
$route['add_machine_mold'] = 'P_Molding/add_machine_mold';
$route['add_machine_request'] = 'P_Molding/add_machine_request';
$route['add_machine_request_details'] = 'P_Molding/add_machine_request_details';
$route['add_molding_stock_transfer'] = 'P_Molding/add_molding_stock_transfer';
$route['add_molding_final_inspection_location'] = 'P_Molding/add_molding_final_inspection_location';
$route['mold_maintenance'] = 'P_Molding/mold_maintenance';
$route['machine_mold'] = 'P_Molding/machine_mold';
$route['machine_request'] = 'P_Molding/machine_request';
$route['machine_request_completed'] = 'P_Molding/machine_request_completed';
$route['machine_request_details/(:any)'] = 'P_Molding/machine_request_details';
$route['molding_stock_transfer_click/(:any)'] = 'P_Molding/molding_stock_transfer_click';
$route['molding_stock_transfer'] = 'P_Molding/molding_stock_transfer';
$route['view_mold_by_filter'] = 'P_Molding/view_mold_by_filter';
$route['update_mold_maintenance'] = 'P_Molding/update_mold_maintenance';


$route['p_q_deflashing'] = 'P_Deflashing/p_q_deflashing';
$route['add_production_qty_deflashing'] = 'P_Deflashing/add_production_qty_deflashing';
$route['update_p_q_deflashing'] = 'P_Deflashing/update_p_q_deflashing';
$route['add_deflashing_operation'] = 'P_Deflashing/add_deflashing_operation';
$route['add_molding_deflashing_assembly_location'] = 'P_Deflashing/add_molding_deflashing_assembly_location';
$route['deflashing_operation'] = 'P_Deflashing/deflashing_operation';
$route['deflashing_stock_transfer_click/(:any)'] = 'P_Deflashing/deflashing_stock_transfer_click';
$route['deflashing_rqeust'] = 'P_Deflashing/deflashing_rqeust';
$route['addbom_deflashing'] = 'P_Deflashing/addbom_deflashing';
$route['deflashing_bom/(:any)'] = 'P_Deflashing/deflashing_bom';



Wagh- changes :

Add Grade and other chanegs per Plastic Commodity

ReleaseNotes/Mayuresh-ProductionUpgrade.txt
application/config/routes.php								- Done for grades + stock_down
application/controllers/Welcome.php							- Done
application/views/customer_parts_master.php					- Done
application/views/grades.php								- Done
application/views/header.php								- Done	- added grades master navigation
application/views/inwarding_details_accept_reject.php		- Need to check
application/views/machine_request.php						- Done
application/views/p_q_molding_production.php				- Done
application/views/sales_reports.php							- ALREADY Done
application/views/stock_down.php							- Done
application/views/view_p_q_molding_production.php			- Done


* ERP-2: Merge wagh changes for Mayuresh ERP
application/config/routes.php								- Done
application/controllers/Welcome.php							- Done
application/views/customer_part_by_id.php					- Done
application/views/customer_parts_master.php					- Done
application/views/header.php								- Done
application/views/index.php									- No changes around this as per call on 23/7
application/views/machine_request.php						- Done
application/views/machine_request_completed.php				- Done
application/views/machine_request_details.php				- Done
database/Database_copy/18-5-23-mayuresherp.sql

$entitlements['isPlastic']